@import "tailwindcss";

@theme {
    /* === Colors === */
    --color-primary: #052357;
    --color-secondary: #6c757d;
    --color-success: #198754;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #0dcaf0;
    --color-light: #f8f9fa;
    --color-dark: #212529;

    /* === Fonts === */
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

    /* === Screens (breakpoints) === */
    --breakpoint-sm: 640px;   /* mobile → tablet */
    --breakpoint-md: 768px;   /* tablet → small laptop */
    --breakpoint-lg: 1024px;  /* laptop → desktop */
    --breakpoint-xl: 1280px;  /* large desktop */
    --breakpoint-2xl: 1536px; /* very large screen */
}

.sidebar {
    animation: slide-sidebar 0.5s cubic-bezier(0.645, 0.045, 0.45, 0.9) both;
}

@keyframes slide-sidebar {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

.bg-black-gradient {
    background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
}

.bg-discount-gradient {
    background: linear-gradient(130deg, #272727 0%, #11101d 100%);
}

.text-gradient {
    background: radial-gradient(
            64.18% 64.18% at 71.16% 35.69%,
            #def9fa 0.89%,
            #bef3f5 17.23%,
            #9dedf0 42.04%,
            #7de7eb 55.12%,
            #5ce1e6 71.54%,
            #33bbcf 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue__gradient {
    background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
    filter: blur(123px);
}

.pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
}

.white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
}